.tabla {
    /*! width: 100%; */
    list-style: none;
    margin:auto;
    margin-top: 20px;
    /*! margin-right: 5%; */
    /*! width: 45vw; */
    /*! height: 70vh; */
 
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 10px;
    border: 3px solid #fff;
    align-content: center;
    /*! text-shadow: cornflowerblue; */
    color: white;
}
h4 {
    text-align: center;
    font-size: 25px;
    margin: 6px;
    margin-bottom: 25px;
}
p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.filtrar{
    display: flex;
    justify-content: center;
    gap:20px; 
    background-color: #000;
    width: fit-content;
    margin: auto;
    padding: 15px;
    border-radius: 13px ;
}
.datos{
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #f5a967;
}
.consulta{
    border-radius: 10px;
    padding: 15px;   
    border: 3px solid #f5a967; 
}
th{
    background: #080808;
    color: #f1efef;
}
td, th{
    border: 3px solid #f5a967;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}
.seleccion {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}
.reserva{
    width: 100%;
    padding: 25px;   
    border: 3px solid #f5a967;
    border-radius: 100px;
    margin-left: center;
    margin-right: center;
    font-size: 20px;  
}
.buttonComprar {
    list-style: none;
    padding: 0%;
    width: 80%;
    margin:auto;
    margin-top: 15px;
}
.table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border-collapse: collapse; */
    background-color: white;
    border: 3px solid #f5a967;    
}
.sidebar{
    text-align: center ;
    
}