<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Vuelos</title>
    <link rel="stylesheet" href="/app/static/css/Administrador/Admin-roles.css">
    <link rel="stylesheet" href="/app/static/css/navBar.css">
</head>

<body>
    <header class="header">
        <div class="logo1" id="l">
            <img src="/app/static/img/header/Logo2.jpeg" alt="">
        </div>
        <div class="logo3" id="l">
            <img src="/app/static/img/header/Logo2.jpeg" alt="">
        </div>
        <div class="logo2" id="l">
            <img src="/app/static/img/header/Logo.jpeg" alt="">
        </div>
    </header>

    <div class="bg">
        <img src="/app/static/img/ben-kim.jpg" class="mw-100" alt="">
    </div>

    <nav class="nav">
        <div class="barra">
            <h2>Menu<div>
                    <ion-icon class="image" name="menu-outline"></ion-icon>
                </div>
            </h2>

            <ul>
                <li><a href="Vuelos">Home</a></li>
                <li><a href="Usuarios">Mis Vuelos</a></li>
                <li><a href="Cerrar-sesion">Cerrar sesión</a></li>

            </ul>
        </div>
    </nav>
-
    <div class="principal">
        <section class="filtrar">
            <input class="adm-edit-user" type="submit" name="editar-vuelos" value="Editar"></input>
            <input class="adm-add-user" type="submit" name="agregar-vuelos" value="Agregar">
            <input class="adm-delete-user" type="submit" name="eliminar-usuario" value="Eliminar">
        </section>

        <section class="tabla">
            <h1>Administración Usuarios</h1>
            
            <table>
                <tr>
                    <th class="seleccion">Selección</th>
                    <th>ID Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>ID Documento</th>
                    <th>Rol</th>
                    <th>Edad</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>ID Usuario</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>ID Documento</td>
                    <td>Rol</td>
                    <td>Edad</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>ID Usuario</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>ID Documento</td>
                    <td>Rol</td>
                    <td>Edad</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>ID Usuario</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>ID Documento</td>
                    <td>Rol</td>
                    <td>Edad</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>ID Usuario</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>ID Documento</td>
                    <td>Rol</td>
                    <td>Edad</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>ID Usuario</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>ID Documento</td>
                    <td>Rol</td>
                    <td>Edad</td>
                    <td>Email</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>ID Usuario</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>ID Documento</td>
                    <td>Rol</td>
                    <td>Edad</td>
                    <td>Email</td>
                </tr>
            </table>
            <input type="button" class="adm-save-chUsers" value="Guardar Cambios">
        </section>
    </div>

    <footer>
        <div class="logo4">
            <img src="/app/static/img/header/Logo2.jpeg" alt="">
        </div>
        <h4>Creadores:</h4>
        <p> * Jeison Martinez * Camilo Contreras * Gisela Espinosa * Brayan Duque * Santiago Urrego -
            <strong>Contacto:</strong> 601 606 60 60 <strong>Correo:</strong> support@jangle.com
        </p>
    </footer>

</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>