{% extends "public/plantilla/plantilla.html" %}
{% block title %}Administrar Vuelos{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Administrador/Admin-vuelos.css') }}">
{% endblock %}

{% block Menunav%} 
    <li><a href="/admin/admin_vuelos">Vuelos</a></li>
    <li><a href="/admin/admin_cuentas">Cuentas</a></li>
{% endblock %}

{% block Centro %}
    <div class="principal">
        <section class="filtrar">
            <input class="editar" type="submit" name="editar-vuelos" value="Editar"></input>
            <form action="/admin/agregar_vuelos">
                <input class="agregar" type="submit" name="agregar-vuelos" value="Agregar">
            </form>
            <input class="consultar" type="submit" name="consultar-vuelos" value="Consultar">
        </section>

        <section class="tabla">

            <h1>VUELOS</h1>
            
            <table>
                <tr>
                    <th>Selección</th>
                    <th>Fecha</th>
                    <th>Hora Salida</th>
                    <th>Tiempo de Vuelo</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>ID Avión</th>
                    <th>Cod. Vuelo</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>Fecha</td>
                    <td>Hora Salida</td>
                    <td>Tiempo de Vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>ID Avión</td>
                    <td>Cod. Vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>Fecha</td>
                    <td>Hora Salida</td>
                    <td>Tiempo de Vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>ID Avión</td>
                    <td>Cod. Vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>Fecha</td>
                    <td>Hora Salida</td>
                    <td>Tiempo de Vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>ID Avión</td>
                    <td>Cod. Vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td><label class="switch"><input type="checkbox" name="switch">
                        <span class="slider"></span></label>
                    </td>
                    <td>Fecha</td>
                    <td>Hora Salida</td>
                    <td>Tiempo de Vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>ID Avión</td>
                    <td>Cod. Vuelo</td>
                    <td>Status</td>
                </tr>
            </table>
            <div class="divbutton">
                <input type="button" class="adm-save-chVuelos" value="Guardar Cambios">
            </div>
        </section>
    </div>
{% endblock %}