{% extends "public/plantilla/plantilla.html" %}
{% block title %}Agregar Cuentas{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Administrador/Agregar-cuentas.css') }}">
{% endblock %}

{% block Menunav%} 
    <li><a href="/admin/admin_vuelos">Vuelos</a></li>
    <li><a href="/admin/admin_cuentas">Cuentas</a></li>
{% endblock %}

{% block Centro %}
    <div class="principal">
        <section class="tabla">
            <form 
            class="form"
            id="form"
            action="{{url_for('admin_agg_cuentas')}}" method="POST"
            name="formRegistro"
            >
            <h1>AGREGAR CUENTAS</h1>
                <div>
                    <section class="opc-agregar-cuentas">
                        <input type="text" name="nombre" class="adm-nombre" placeholder="Nombre" required=true>
                        <input type="text" name="apellido" class="adm-apellido" placeholder="Apellido" required=true>
                        <input type="text" name="documento_usuario" class="adm-idDocumento" placeholder="ID Documento" required=true>
                        <input type="text" name="edad" class="adm-edad" placeholder="Edad"  required=true>
                        <input type="text" name="email" class="adm-email" placeholder="Email"  required=true>
                        <input type="password" name="contraseña" class="adm-contraseña" placeholder="Contraseña" required=true>
                    </section>
                    <section class="secAgregar">
                        <input type="submit" class="adm-agregar">
                    </section>
                </div>
                
            <div class="tabla_info">
                <table>
                    <thead>
                        <tr">
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>ID Documento</th>
                            <th>Edad</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for misCuentas in misCuentas %}
                        <tr>
                            <td>{{misCuentas[1]}}</td>
                            <td>{{misCuentas[2]}}</td>
                            <td>{{misCuentas[0]}}</td>
                            <td>{{misCuentas[3]}}</td>
                            <td>{{misCuentas[4]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </form>
        </section>
    </div>
{% endblock %}