{% extends "public/plantilla/plantilla.html" %}
{% block title %}Agregar Cuentas{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Administrador/Agregar-cuentas.css') }}">
{% endblock %}

{% block Menunav%} 
    <li><a href="/admin/admin_vuelos">Vuelos</a></li>
    <li><a href="/admin/admin_cuentas">Cuentas</a></li>
{% endblock %}

{% block Centro %}
    <div class="principal">
        <section class="tabla">
            <h1>AGREGAR CUENTAS</h1>
                <div>
                    <section class="opc-agregar-cuentas">
                        <input type="text" class="adm-idUsuario" placeholder="ID Usuario">
                        <input type="text" class="adm-nombre" placeholder="Nombre">
                        <input type="text" class="adm-apellido" placeholder="Apellido">
                        <input type="text" class="adm-idDocumento" placeholder="ID Documento">
                        <input type="text" class="adm-edad" placeholder="Edad">
                        <input type="text" class="adm-email" placeholder="Email">
                        <input type="password" class="adm-contraseña" placeholder="Contraseña">
                    </section>
                    <section class="secAgregar">
                        <input type="submit" class="adm-agregar">
                    </section>
                </div>
                
            <div class="tabla_info">
                <table>
                    <thead>
                        <tr">
                            <th>ID Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>ID Documento</th>
                            <th>Edad</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td>ID Usuario</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>ID Documento</td>
                        <td>Edad</td>
                        <td>Email</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}