<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/Landing-Page/inicio.css">
    <title>Register</title>
</head>

<body>
    <form 
        class="form"
        id="form"
        action="{{url_for('nuevo_registro')}}" method="POST"
        name="formRegistro"
        >
                <div class="form__group">
                    <img src="/static/img/airplane_register.jpg"
                    alt="" width="72" height="57">
                </div>
                <h2 class="form__title">Registro</h2>

                <div class="form__group">
                    <input type="text" class="form__input" id="name" name="nombre" placeholder=" " >
                    <label for="name" class="form__label">Nombre:</label>
                    <span class="form__line"></span>
                </div>

                <div class="form__group">
                    <input type="text" class="form__input" id="lastname" name="apellido" placeholder=" " >
                    <label for="lastname" class="form__label">Apellido:</label>
                    <span class="form__line"></span>
                </div>

                <div class="form__group">
                    <input type="number" class="form__input" id="identificacion" name="documento_usuario" placeholder=" " >
                    <label for="identificacion" class="form__label">ID Documento:</label>
                    <span class="form__line"></span>
                </div>

                <div class="form__group">
                    <input type="number" class="form__input" id="age" name="edad" placeholder=" " onkeypress="return false;" min="18" >
                    <label for="age" class="form__label">Edad:</label>
                    <span class="form__line"></span>
                </div>

                <div class="form__group">
                    <input type="email" class="form__input" id="email" name="email" placeholder=" " >
                    <label for="email" class="form__label">Email:</label>
                    <span class="form__line"></span>
                </div>

                <div class="form__group">
                    <input type="password" class="form__input" id="password" name="contraseña" placeholder=" " >
                    <label for="password" class="form__label">Contraseña:</label>
                    <span class="form__line"></span>
                </div>

                <div class="form__group">
                    <input type="password" class="form__input" id="password__confirm" placeholder=" ">
                    <label for="password__confirm" class="form__label">Confirmar Contraseña:</label>
                    <span class="form__line"></span>
                </div>

                <button type="submit" class="form__submit">Registrar</button>
                <p class="warnings" id="warnings"><strong></strong></p>
                <p>¿Ya tienes una cuenta? <a href="/">Ingresa</a></p>
                <p >&copy; Jangle Airport</p>
       
        </form>

    <script src="/public/Landing-page/registro.js"></script>
    
    
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>