:root{
    font-size: 16px;
    font-family: "Open Sans";
    --text-primario: hsl(240, 4%, 72%);
    --text-secundario: hsl(0, 0%, 93%);
    --bg-primario: hsl(240, 14%, 16%);
    --bg-secundario: hsl(240, 9%, 9%);
    scrollbar-color: rgb(210,210,210) rgb(46,54,69); /*firefox*/
    scrollbar-width: thin;                              /*firefox*/
    --transition-speed: 600ms;
}

body{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: hsl(240, 9%, 13%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(256, 44%, 50%);
}
main{
    margin-left: 5rem; /*looks at ther root 16 * 5 = 80px*/

}

.navbar{
    display: grid;
    grid-template-areas: "nav";
    
    width: 5rem;
    height: 100vh; /*relative to the size of the view port*/
    position: fixed;
    background-color: var(--bg-primario);
    display: grid;
    gap: 5px;

    /* Especificar posición de las areas */
    grid-template-areas:
        "a"
}

.navbar-nav{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1,3fr);
    grid-auto-rows: minmax(25vh, auto);
    grid-template-areas:
            "de"
            "de"
            "de";
    
}
.nav-item:last-child { /*hace q el ultimo item aparezca hasta el final*/
  margin-top: auto;
}

.nav-link:hover{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primario);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-text{
    display: none;
    margin-left: 1rem;
}

.navbar:hover{
    width: 16rem;
}

.navbar:hover.link-text{
    display:block;
}

@media screen and (max-width:600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .navbar-nav{
        flex-direction: row;
    }
    .nav-link{
        justify-content: center;
    }
    main{
        margin: 0;
    }
}