/*Contiene:  logos, footer, header(grid-area=head)
            carrucel bh(grid-area=bg)*/
* {
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    --text-primario: hsl(240, 65%, 3%);
    --transition-speed: 600ms;
}
header {
    grid-area: head;
    background-color: black;
    border-radius: 10px;
    height: 100%;
}
body{
    background-image: url("/static/img/flying-airplane.jpg");
    /* background-image: url("/app/static/img/flying-airplane.jpg"); */
    background-size: 200vh; /* Agregar fondo con imagen*/
    background-size: cover;
    background-position-x: center;
    min-height: 100vh;
}
.bg{
    grid-area: bg;
}
.bg .mw-100 {
    width: 100%;
}
.logo1 img{
    width: 110px;
    height: 95px;
    margin: auto;   
    display: block; 
    float: left;
}
.logo2 img{
    width:220px;
    height: 97px;
    margin: auto;   
    display: block;
    float: center;
}
.logo3 img{
    width: 110px;
    height: 95px;
    margin: auto;   
    display: block;
    float: right;
}
.logo4 img{
    width: 130px;
    height: 105px;
    margin: auto;   
    display: block; 
    float: left;
    padding-left: 10px;    
    padding-right: 20px;
}


h1{
    text-align: center;
    padding: 15px;
    color: white;
}
b,
strong {
 font-weight:bolder;
 font-size: revert;
}

h2{
    text-align: center;
    color: white;
}

footer {
    grid-area: foot;
    background: rgba(0, 0, 0, 0.63);
    color: #fff;
    border: 3px solid #f5a967;
    border-radius: 20px;
    margin-top: 30px;
    /*! margin-bottom: -20px; */
    /*! font-size: 20px; */  
    /*! text-align: center; */
}
p {
    text-align: center;
}