*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #5091DD 0%, #030617 100%);
    font-family: 'Stick No Bills', sans-serif;
}



/* HEADER */

.title {
    padding: 20px 0;
    text-align: center;
    font-size: 1.9em;
    text-transform: uppercase;
    color: white;
}

.container{
    background: white;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > .div 
.container > .related-post {
    background: #fff;
    padding: 20px;
    border: 2px solid #000000;
}

.container .header{
    grid-column: span 5;
    background: #000000;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .footer {
    grid-column: span 5;
    background: #1e272e;
    color: #fff;
    font-size: 28px;
    
}

.container > .content {
    grid-column: span 3;
}

.content > .article {
    background: #485460;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
    text-align: center;
}

.content .article h1,
.content .article p {
    padding: 30px;
}

.container > .sidebar {
    grid-column: span 2;
    background: #485460;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > .sidebar img {
    width: 100%;
    margin-top: 5px;
}

.container > .related-post {
    border: 2px solid #000000;
    background: #2d3436;
    color: #fff;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.container > .related-post:hover {
    cursor: pointer;
    color: black;
    background: white;
}

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1/-1;
    }
    .container .sidebar {
        grid-column: 1/-1;
    }
    .container .related-post {
        grid-column: 1/-1;
    }
}