ion-icon {
    font-size: 100px;
    color: rgb(0, 0, 0);
}
.barra {
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    height: 9%;
    transition: .4s all;
    z-index: 1;
}
.barra ul {
    padding: 0px;
    text-align: center;
}
.barra li {
    transition: .3s all;
}
.barra a {
    text-decoration:  none;
    list-style: none;
    transition: .3s all;
    font-size: 0px;
    padding: 0px;
}
.barra h2{
    text-align: center;
    color: white;
    padding: 10px;
    padding-bottom: 7px;
    font-size: 0px;
} 
.barra img {
    margin: 20px;
    background: radial-gradient(ellipse at center, #2079ff 20%, #000000 100%);
    border-radius: 10px;
}
.barra:hover {
    width: 13vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.98);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 1vw;   
}
.barra:hover h2 {
    padding: 15px;
    font-size: 45px;
}
.barra:hover a{
    font-size: 30px;
    color: white;
    display: block;
    padding: 15px;
}
.barra:hover ion-icon {
    display: none;
}
.barra:hover li {
    border-top: 1px solid black;
    width: 100%;   
}
.barra:hover ul:last-of-type {
    border-bottom: 1px solid black;
}
.barra:hover a:hover {
    font-size: 40px;
    padding: 30px 0px;
    background-color: #f37e18;
}