* {
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    --text-primario: hsl(240, 65%, 3%);
    --transition-speed: 600ms;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(ellipse at center, #3b8aff 20%, #161b3a 100%);
    height: 100vh;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    grid-template-areas: 
        "head head head"
        "bg bg bg"
        "lf cont rgh"
        "foot foot foot";

        /*
            "head head head"
            "bg bg bg"
            "lf cont cont"
            "foot foot foot"
        
            Esta es la manera para que el contenedor quede desplegado a la dereche
            básicamente que queden dos columnas en el medio.      
        */


}
.header {
    grid-area: head;
    background-color: black;
    margin-top: 10px;
    border: 3px solid #f5a967;
    border-radius: 10px;
}
.bg{
    grid-area: bg;
}
.bg .mw-100 {
    width: 100%
}
.principal {
    background: radial-gradient(ellipse at center, #3b8aff 40%, #161b3a 100%); 
    grid-area: cont;
    padding: 30px 10px 30px 10px;
    margin-left: 20px;
    margin-right: 5px;
    border: 3px solid #f5a967;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
}
.menuDerecho {
    background: radial-gradient(ellipse at center, #3b8aff 35%, #161b3a 100%);
    grid-area: rgh;
    margin-left: 20px;
    margin-right: 5px;
    border: 3px solid #f5a967;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: unset;
    flex-direction: column;
}
.logo1 img{
    width: 130px;
    height: 150px;
    margin: auto;   
    display: block; 
    float: left;
}
.logo2 img{
    width:300px;
    height: 150px;
    margin: auto;   
    display: block;
    float: center;
}
.logo3 img{
    width: 130px;
    height: 150px;
    margin: auto;   
    display: block;
    float: right;
}
.logo4 img{
    width: 130px;
    height: 115px;
    margin: auto;   
    display: block; 
    float: left;
    padding-left: 10px;    
    padding-right: 20px;
}
.nav {
    grid-area: lf;
}
footer {
    grid-area: foot;
    background: #000;
    color: #fff;
    border: 3px solid #f5a967;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 20px;  
    text-align: center;
}
h4 {
    text-align: center;
    font-size: 25px;
    margin: 6px;
    margin-bottom: 15px;
}
ion-icon {
    font-size: 100px;
    color: white;
}