:root{
    font-size: 16px;
    --text-primario: hsl(240, 65%, 3%);
    --transition-speed: 600ms;
}
body{
    display: grid;
    grid-template-areas: "tp    tp     tp"
                         "cont cont sideB"
                         "foot foot foot";
  grid-template-rows: 20vh 0.55fr 0.1fr;
  grid-template-columns: 20vmax auto 18vmax;
    
    font-family: sans-serif;
    background: radial-gradient(ellipse at center, #f5a967 0%, #030617 100%);
}

header{
    grid-area: tp;
    background-color: #000;
    height: auto;
}
figure{
    position: relative;
    margin: auto;
    height: 100%;
   
}
.small_logo{
    height: 100%;
   
}
.big_logo{
    position: absolute;
    height: 100%;
    left: 50%; 
}

nav{
    grid-area: tp;
    justify-self: right;
    align-self: center;
}

.navbar{
    list-style: none;
    background-color: #000;
    border-radius: 10px;
    border: 3px solid #f5a967;
}
.navbar-nav{
    padding: 0%;
}
.navbar .nav-link{
    
    text-decoration:none;
    color: #bcd625;
    padding: 10px;
}

.navbar .nav-item{
    display:inline-block;
    margin: auto;
}

.nav-link:hover{
    background-color: #f07000;
    color: var(--text-primario);
    text-decoration: none;
    filter: grayscale(50%) opacity(0.7);
    transition: var(--transition-speed);
}

section{
    grid-area: cont;
}
.tabla{
    background: #f1efef;
    padding:20px;
    margin:17vh auto;
    border-radius: 10px;
    border: 3px solid #f5a967;
    height: auto;
    width: auto;
}
.filtrar{
    width: 680px;
    background: #0e0d0d;
    padding:10px;
    margin: auto;
    margin-top: 1px;
    border-radius: 10px;
    border: 3px solid #f5a967;
    overflow: scroll;
}

.datos{
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #f5a967;
    
}
.consulta{
    border-radius: 10px;
    padding: 15px;   
    border: 3px solid #f5a967; 
}

h1{
    text-align: center;
    
}

th{
    background: #080808;
    color: #f1efef;
    
}


table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
}

td, th{
    border: 3px solid #f5a967;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.seleccion {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
}

.reserva{
    width: 100%;
    border-radius: 100px;
    padding: 25px;   
    border: 3px solid #f5a967;
    margin-top: 30px;
    font-size: 20px;   
}


footer {
    grid-area: foot;
    background: #000;
    color: #fff;
    border: 3px solid #f5a967;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 20px;  
    text-align: center;
}

h4 {
    text-align: center;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button1 {border-radius: 50%;}

