{% extends "public/plantilla/plantilla.html" %}
{% block title %}Principal{% endblock %}

{% block link %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/Usuario/home.css') }}">

{% endblock %}

{% block Menunav%} 
    <li><a href="/home-user">Home</a></li>         
    <li><a href="/mis-vuelos-usuario">Mis vuelos</a></li>         
    <li><a href="/mi-perfil-usuario">Mi perfil</a></li>
{% endblock %}

{% block Centro %} 
    <div class="principal"> 
        <section id="table">
            <div class="principal">
            <h1><b>Programación Vuelos</b></h1>
            <table>
                <thead>
                    <tr>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Comprar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vuelo in vuelos %}
                        <tr>
                            <td>{{vuelo[1]}}</td>
                            <td>{{vuelo[2]}}</td>
                            <td>{{vuelo[3]}}</td>
                            <td>             
                                <a id="comprarusuario" href="{{url_for('compra_user', id=vuelo[0])}}" class="button is-info">Comprar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- <section class="buttonComprar">
           Contenedor para centrar el botón, !!!!NO TOCAR!!!! Si tiene una mejor idea, hágalo :v -->
            <!-- <form action="/compra-usuario">
                <input class="reserva" type="submit" name="comprar" value="Comprar" />
            </form> -->
        <!-- </section>   -->

    </div>

    {% endblock %}
    
    {% block menuDerecho %}
    <div class="menuDerecho">
        <h2>Mejores Destinos</h2>
        <aside class="sidebar">
            <!--<img src="/app/static/img/sidebar/Miami.gif" alt="404 NOT FOUND">  500 X 364-->
            <div class="imgDestinos">
                 <img src="static/img/header/Logo2.jpeg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, expedita!</p>
            </div>

            <div class="imgDestinos">
                <!--<img class= "" src="/app/static/img/sidebar/medellin.gif" alt="404 NOT FOUND">-->
                <img src="static/img/header/Logo2.jpeg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, expedita!</p>
            </div>

            <!--<div class="imgDestinos">
                <img src="/app/static/img/sidebar/cancun.gif" alt="404 NOT FOUND">
                <img src="static/img/header/Logo2.jpeg" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, expedita!</p>
            </div>-->
        </aside>
    </div>
    {% endblock %}



