body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
        "head head head"
        "bg bg bg"
        "lf cont right"
        "foot foot foot";
}
.principal {
    grid-area: cont;
    padding: 30px 10px 30px 10px;
}

.filtrar{
    display: flex;
    justify-content: center;
    gap:20px; 
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
.editar {
    font-size: 150%;
    border-radius: 20px;
    padding: 15px;   
    border: 3px solid #f5a967; 
    cursor: pointer;
}
.agregar {
    font-size: 150%;
    border-radius: 20px;
    padding: 15px;   
    border: 3px solid #f5a967;
    cursor: pointer; 
}
.consultar{
    font-size: 150%;
    border-radius: 20px;
    padding: 15px;   
    border: 3px solid #f5a967;
    cursor: pointer; 
}
.tabla{
    background: #00000070;
    padding:20px;
    width: 90%;
    margin-top: 20px;
    width: fit-content;
    margin: auto;
    border: 5px solid #fff;
    border-radius: 10px;
}
table{

    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
th{
    background: #080808;
    color: #f1efef;
}
td {
    color: #f1efef;
}
td, th{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 10px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;    
    transition: 0.4s;
    border-radius: 34px;
}
.switch input {display: none}
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
} 
input:checked +.slider{
    background-color: #0066ff;
}
input:checked +.slider:before{
    transform: translateX(28px)
}
h4 {
    text-align: center;
    font-size: 25px;
    margin: 6px;
    margin-bottom: 15px;
}