{% extends "public/plantilla/plantilla.html" %}
{% block title %}Mi Perfil Piloto{% endblock %}

{% block link %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pilotopag.css') }}">

{% endblock %}


    
{% block Menunav%}
    <li><a href="/mi-perfil-piloto">Mi Perfil</a></li>         
    <li><a href="/mis-vuelos-piloto">Mis Vuelos</a></li>
{% endblock %}


{% block Centro %}
    <div class="principal">
        <div class="titulo">Mi Perfil</div>
        <form action="#">
            <div class="detalle-piloto">
                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" placeholder="Introduzca su nombre" required>
                </div>
                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="Introduzca su apellido" required>
                </div>
                <div class="input-box">
                    <span class="details">Edad</span>
                    <input type="number" min="18" onkeypress="return false;" placeholder="Introduzca su edad" required>
                </div>
                <div class="input-box">
                    <span class="details">Id usuario</span>
                    <input type="text" placeholder="Introduzca su id de usuario" required>
                </div>
                <div class="input-box">
                    <span class="details">Id documento</span>
                    <input type="number" placeholder="Introduzca su id de documento" required>
                </div>
                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="text" onkeypress="return false;" placeholder="Introduzca su contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" placeholder="Introduzca su email" required>
                </div>
                <div class="input-box">
                    <span class="details">Nueva contraseña</span>
                    <input type="password" placeholder="Introduzca su nueva contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirmar contraseña</span>
                    <input type="password" placeholder="Confirme su contraseña" required>
                </div>
                <div class="button1">
                    <input type="submit" value="Editar">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </div>
{% endblock %}
    