<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Esqueleto base </title>
    <!-- <title>{% block title %}{% endblock %}
    </title> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/Base.css') }}"> -->
    <link rel="stylesheet" href="/app/static/css/pilotopag.css">
    <link rel="stylesheet" href="/app/static/css/navBar.css">
</head>

<body>
    <header class="header">
        <div class="logo1" id="l">
            <img src="/app/static/img/header/Logo2.jpeg" alt="">
        </div>
        <div class="logo3" id="l">
            <img src="/app/static/img/header/Logo2.jpeg" alt="">
        </div>
        <div class="logo2" id="l">
            <img src="/app/static/img/header/Logo.jpeg" alt="">
        </div>
    </header>

    <div class="bg">
        <img src="/app/static/img/ben-kim.jpg" class="mw-100" alt="">
    </div>


    <nav class="nav">
        <div class="barra">
            <h2>Menu<div>
                    <ion-icon class="image" name="menu-outline"></ion-icon>
                </div>
            </h2>

            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="Mis-vuelos">Mis Vuelos</a></li>
                <li><a href="Mi-perfil">Mi Perfil</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="principal">
        <div class="titulo">Mi Perfil</div>
        <form action="#">
            <div class="detalle-piloto">
                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" placeholder="Introduzca su nombre" required>
                </div>
                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text" placeholder="Introduzca su apellido" required>
                </div>
                <div class="input-box">
                    <span class="details">Edad</span>
                    <input type="text" placeholder="Introduzca su edad" required>
                </div>
                <div class="input-box">
                    <span class="details">Id usuario</span>
                    <input type="text" placeholder="Introduzca su id de usuario" required>
                </div>
                <div class="input-box">
                    <span class="details">Id documento</span>
                    <input type="text" placeholder="Introduzca su id de documento" required>
                </div>
                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="text" placeholder="Introduzca su contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Introduzca su email" required>
                </div>
                <div class="input-box">
                    <span class="details">Nueva contraseña</span>
                    <input type="text" placeholder="Introduzca su nueva contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirmar contraseña</span>
                    <input type="text" placeholder="Confirme su contraseña" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </div>

    <div class="menuDerecho">
    </div> 

    <footer>
        <div class="logo4">
            <img src="/app/static/img/header/Logo2.jpeg" alt="">
        </div>
        <h4>Creadores:</h4>
        <p> * Jeison Martinez * Camilo Contreras * Gisela Espinosa * Brayan Duque * Santiago Urrego -
            <strong>Contacto:</strong> 601 606 60 60 <strong>Correo:</strong> support@jangle.com
        </p>
    </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>