{% extends "public/plantilla/plantilla.html" %}
{% block title %}Mis Vuelos Piloto{% endblock %}





{% block link %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pilotopag.css') }}">

{% endblock %}

{% block Menunav%} 
    <li><a href="/mi-perfil-piloto">Mi Perfil</a></li>         
    <li><a href="/mis-vuelos-piloto">Mis Vuelos</a></li>
{% endblock %}


{% block Centro %}
    
    <div class="principal">
        <section class="filtrar">
            <h1></h1>
            <input class="datos" type="date" name="Fecha" placeholder="Ingresa Fecha" size="12">
            <input class="consulta" type="submit" name="consulta" value="Consultar">
        </section>
        <div class="titulo">Mis Vuelos</div>

        <section class="tabla">
            <table>
                <tr>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Id avión</th>
                            <th>Cod vuelo</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vuelo in vuelos %}
                            <tr>
                                <td>{{vuelo[0]}}</td>
                                <td>{{vuelo[1]}}</td>
                                <td>{{vuelo[2]}}</td>
                                <td>{{vuelo[3]}}</td>
                                <td>{{vuelo[4]}}</td>
                                <td>{{vuelo[5]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

    

            </table>
        </section>
    </div>
{% endblock %}
     

 

