{% extends "public/plantilla/plantilla.html" %}
{% block title %}Mis Vuelos Piloto{% endblock %}





{% block link %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pilotopag.css') }}">

{% endblock %}

{% block Menunav%} 
    <li><a href="/mi-perfil-piloto">Mi Perfil</a></li>         
    <li><a href="/mis-vuelos-piloto">Mis Vuelos</a></li>
{% endblock %}


{% block Centro %}
    
    <div class="principal">
        <section class="filtrar">
            <h1></h1>
            <input class="datos" type="date" name="Fecha" placeholder="Ingresa Fecha" size="12">
            <input class="consulta" type="submit" name="consulta" value="Consultar">
        </section>
        <div class="titulo">Mis Vuelos</div>

        <section class="tabla">
            <table>
                <tr>
                    <th>Fecha</th>
                    <th>Hora salida</th>
                    <th>Tiempo de vuelo</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Id avión</th>
                    <th>Cod vuelo</th>
                    <th>Status</th>

                </tr>
                <tr>
                    <td>Fecha</th>
                    <td>Hora salida</th>
                    <td>Tiempo de vuelo</th>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>Id avión</td>
                    <td>Cod vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>Hora salida</td>
                    <td>Tiempo de vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>Id avión</td>
                    <td>Cod vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>Hora salida</td>
                    <td>Tiempo de vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>Id avión</td>
                    <td>Cod vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>Hora salida</td>
                    <td>Tiempo de vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>Id avión</td>
                    <td>Cod vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>Hora salida</td>
                    <td>Tiempo de vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>Id avión</td>
                    <td>Cod vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>Hora salida</td>
                    <td>Tiempo de vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>Id avión</td>
                    <td>Cod vuelo</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>Fecha</td>
                    <td>Hora salida</td>
                    <td>Tiempo de vuelo</td>
                    <td>Origen</td>
                    <td>Destino</td>
                    <td>Id avión</td>
                    <td>Cod vuelo</td>
                    <td>Status</td>
                </tr>
    

            </table>
        </section>
    </div>
{% endblock %}
     

 

