<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jangle Airport</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app\static\css\login.css">
</head>
<body>    
    <header class="title">
        <h1>Jangler, tu mejor opción.</h1>
    </header>
    <div class="container">
        <header class="header">
            <img src="app\static\img\jangle_airport.png" alt="">
        </header>
        <main class="content">
            <article class="article">
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid tempore dolores ea sint eaque iusto, odit necessitatibus soluta voluptate!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, in.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, in.</p>
            </article>
            <article class="article">
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid tempore dolores ea sint eaque iusto, odit necessitatibus soluta voluptate!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, in.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, in.</p>
            </article>
            <article class="article">
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas aliquid tempore dolores ea sint eaque iusto, odit necessitatibus soluta voluptate!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, in.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, in.</p>
            </article>
        </main>
        <aside class="sidebar">
            <h2>Publicidad / Sidebar</h2>
            <div>
                <img src="https://lorempixel.com/200/200/transport/" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, expedita!</p>
            </div>
            <div>
                <img src="https://lorempixel.com/200/200/city/3" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, expedita!</p>
            </div>
            <div>
                <img src="https://lorempixel.com/200/200/sports/3" alt="">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, expedita!</p>
            </div>
        </aside>
        <div class="related-post">
            Another post
        </div>
        <div class="related-post">
            Another post
        </div>
        <div class="related-post">
            Another post
        </div>
        <div class="related-post">
            Another post
        </div>
        <div class="related-post">
            Another post
        </div>

        <footer class="footer">
            <h4>Creadores:</h4>
            <p> * Jeison Martinez  * Camilo Contreras  * Gisela Espinosa * Brayan Duque * Santiago Urrego           -    <strong>Contacto:</strong> 601 606 60 60 <strong>Correo:</strong> support@jangle.com
            </p>
        </footer>
    </div>
</body>
</html>