{% extends "public/plantilla/plantilla.html" %}
{% block title %}Mi Perfil Usuario{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Usuario/Usuario_mi_perfil.css') }}">
{% endblock %}

{% block Menunav%} 
    <li><a href="/home-user">Home</a></li>  
    <li><a href="/mi-perfil-usuario">Mi Perfil</a></li>         
    <li><a href="/mis-vuelos-usuario">Mis Vuelos</a></li>
{% endblock %}

{% block Centro %}   
    <div class="principal">
        <div class="titulo">Mi Perfil</div>
        <div class="button3">
            <input class="boton_eliminar" type="submit" value="Eliminar Cuenta">
        </div>
        <form action="#">
            <div class="Perfil_usuario">
                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input type="text" value="{{perfil_user[0]}}" onkeypress="return false;" required>
                </div>
                <div class="input-box">
                    <span class="details">Apellido</span>
                    <input type="text"  value= "{{perfil_user[1]}}" onkeypress="return false;" required>
                </div>
                <div class="input-box">
                    <span class="details">Edad</span>
                    <input type="number" min="18" max="120" pattern="^[0-9]+" value= "{{perfil_user[2]}}" onkeypress="return false;" required>
                </div>
                <div class="input-box">
                    <span class="details">Id usuario</span>
                    <input type="text" value= "{{perfil_user[3]}}" onkeypress="return false;" required>
                </div>
                <div class="input-box">
                    <span class="details">Id documento</span>
                    <input type="number" value= "{{perfil_user[4]}}" onkeypress="return false;" required>
                </div>
                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" onkeypress="return false;"  placeholder="Introduzca su contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" value="{{perfil_user[5]}}" placeholder="Introduzca su email" onkeypress="return false;" required>
                </div>
                <div class="input-box">
                    <span class="details">Nueva contraseña</span>
                    <input type="password" placeholder="Introduzca su nueva contraseña" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirmar contraseña</span>
                    <input type="password" placeholder="Confirme su contraseña" required>
                </div>

                <div class="button1">
                    <input type="submit" value="Editar">
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Guardar">
            </div>
        </form>
    </div>

{% endblock %}


    
