<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}
    </title>
    
    {% block link %}{% endblock %}
<!--     
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navBar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Usuario/home.css') }}"> -->
    
    <!-- <link rel="stylesheet" href="/app/static/css/skeleton.css"> -->
    <!-- <link rel="stylesheet" href="/app/static/css/navBar.css"> -->
</head>

<body>
    <header class="header">
        <div class="logo1" id="l"> 
            
            <img src="static/img/header/Logo2.jpeg" alt=""> 
        </div>
        <div class="logo3" id="l">
            <img src="static/img/header/Logo2.jpeg" alt="">
        </div>
        <div class="logo2" id="l">
            <img src="static/img/header/Logo.jpeg" alt="">
        </div>
    </header>

    <div class="bg">
        <img src="static/img/ben-kim.jpg" class="mw-100" alt="">
    </div>


    <nav class="nav">
        <div class="barra">
            <h2>Menu<div>
                    <ion-icon class="image" name="menu-outline"></ion-icon>
                </div>
            </h2>

            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="Mis-vuelos">Mis Vuelos</a></li>
                <li><a href="Mi-perfil">Mi Perfil</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
    
    <!-- <div class="principal">
        {% block principal %}
        {% endblock %}
    </div>
    
    <div class="menuDerecho">
    </div>  -->

    <footer>
        <div class="logo4">
            <img src="static/img/header/Logo2.jpeg" alt="">
        </div>
        <h4>Creadores:</h4>
        <p> * Jeison Martinez * Camilo Contreras * Gisela Espinosa * Brayan Duque * Santiago Urrego -
            <strong>Contacto:</strong> 601 606 60 60 <strong>Correo:</strong> support@jangle.com
        </p>
    </footer>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>