{% extends "public/plantilla/plantilla.html" %}
{% block title %}Compra{% endblock %}


{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Usuario/Usuario_compra.css') }}">
{% endblock %}

{% block Menunav%} 
    <li><a href="/mi-perfil-usuario">Mi Perfil</a></li>         
    <li><a href="/mis-vuelos-usuario">Mis Vuelos</a></li>
{% endblock %}

    
    
    
{% block Centro %}
    <section class="principal">
        <h3>Compra</h3>
        <form action="">
            <table class="table">
                <thead>
                    <tr>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Salida</th>
                        <th>Avion</th>
                    </tr>
                </thead>
            <tbody>
                <tr>
                    <td>{{vuelo[1]}}</td>
                    <td>{{vuelo[2]}}</td>
                    <td>{{vuelo[3]}}</td>
                    <td>{{vuelo[4]}}</td>
                    <td>{{vuelo[5]}}</td>
                </tr>
            </tbody>
            </table>
        </form>
    </section>
{% endblock %}

{% block menuDerecho %}
<table>
   {# display columns en vertical#}
   <tr>
       <th>{{vuelo[]}}</th>
   </tr>
</table>
<div class="menuDerecho">
        <div class="titulo">Información Vuelo</div>
        <form action="#">
            <div class="usuario_info_compra">
               
                </div>  
                <div class="input-box">
                    <span class="details">Piloto</span>
                </div>
                <div class="input-box">
                    <span class="details"># Tickets</span>
                    
                </div>
                <div class="input-box">
                    <span class="details">$ Total</span>
                    
                </div>
            </div>    
        </form>  
</div>   
{% endblock %}