{% extends "public/plantilla/plantilla.html" %}
{% block title %}Compra{% endblock %}


{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Usuario/Usuario_compra.css') }}">
{% endblock %}

{% block Menunav%}
<li><a href="/mi-perfil-usuario">Mi Perfil</a></li>
<li><a href="/mis-vuelos-usuario">Mis Vuelos</a></li>
{% endblock %}




{% block Centro %}
<section class="principal">
    <h3>Compra</h3>
    <form action="">
        <div class="principal">
        <table id="table">
            <thead>
                <tr>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha</th>
                    <th>Salida</th>
                    <th>Avion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{vuelo[1]}}</td>
                    <td>{{vuelo[2]}}</td>
                    <td>{{vuelo[3]}}</td>
                    <td>{{vuelo[4]}}</td>
                    <td>{{vuelo[5]}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </form>
    <h3>Tickets: {{vuelo[6]}}</h3>
    <h3>Total: {{vuelo[7]}}</h3>
    <form action="{{url_for('hacerCompra')}}" method="POST">
                    <input type="hidden" name="id" value="{{vuelo[0]}}">
                    <input required type="number" class="input"  name="nTickets">
                    <button class="button is-danger">Comprarrr</button>
    </form>
</section>
{% endblock %}

<!-- <table>
   {# display columns en vertical#}
   <tr>
       <th>{{identidad[0]}}</th>
       <th>{{identidad[1]}}</th>    
       <th>{{identidad[2]}}</th>
       <th>{{identidad[3]}}</th>
   </tr>
</table> -->
{% block menuDerecho %}
{# nada aqui por el momento#}

{% endblock %}