<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_Usuario</title>
    <link rel="stylesheet" href="/app/static/css/vista-home-usuario.css">
</head>

<body>
    <header>
        <figure>
            <img class="small_logo" src="/app/static/img/Logo2.jpeg" alt="">
            <img class="big_logo" src="/app/static/img/jangle_airport.png" alt="">
        </figure>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="opciones.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="Registro.html">Mis Vuelos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Mi Perfil</a></li>
        </ul>
    </nav>

    <section class="filtrar">
        <select name="Origen" id="org" class="datos">
            <option disabled selected>Elige Origen</option>
            <option value="Bg">Bogotá--Colombia</option>
            <option value="Md">Medellin--Colombia</option>
            <option value="cl">Cali--Colombia</option>
            <option value="br">Barranquilla--Colombia</option>
            <option value="Ct">Cartagena--Colombia</option>
            <option value="Pr">Paris--Francia</option>
            <option value="Rm">Roma--Italia</option>
            <option value="Vn">Venecia--Italia</option>
            <option value="Mi">Miami--EEUU</option>
        </select>

        <select name="Destino" id="Dst" class="datos">
            <option disabled selected>Elige Destino</option>
            <option value="Bg">Bogotá--Colombia</option>
            <option value="Md">Medellin--Colombia</option>
            <option value="cl">Cali--Colombia</option>
            <option value="br">Barranquilla--Colombia</option>
            <option value="Ct">Cartagena--Colombia</option>
            <option value="Pr">Paris--Francia</option>
            <option value="Rm">Roma--Italia</option>
            <option value="Vn">Venecia--Italia</option>
            <option value="Mi">Miami--EEUU</option>
        </select>

        <input class="datos" type="date" name="Fecha" placeholder="Ingresa Fecha" size="12">
        <input class="consulta" type="submit" name="consulta" value="Consultar">
    </section>

    <section class="tabla">
        <h1><b>Programación Vuelos</b></h1>
        <table>

            <tr>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha</th>
                <th class="seleccion">Selección</th>
            </tr>
            <tr>
                <td>Origen</th>
                <td>Destino</th>
                <td>Fecha</th>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</th>
                <td>Destino</th>
                <td>Fecha</th>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</th>
                <td>Destino</th>
                <td>Fecha</th>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</th>
                <td>Destino</th>
                <td>Fecha</th>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</td>
                <td>Destino</td>
                <td>Fecha</td>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</td>
                <td>Destino</td>
                <td>Fecha</td>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</td>
                <td>Destino</td>
                <td>Fecha</td>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</td>
                <td>Destino</td>
                <td>Fecha</td>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
            <tr>
                <td>Origen</td>
                <td>Destino</td>
                <td>Fecha</td>
                <td class="seleccion"> <input type="radio" name="seleccionar-vuelo"> </td>
            </tr>
        </table>
        <input class="reserva" type="submit" name="comprar" value="Comprar">
    </section>


    <footer class="footer">
        <div class="logo4">
            <img src="/camilo/Logo2.jpeg" alt="">
        </div>
        <h4>Creadores:</h4>
        <p> * Jeison Martinez * Camilo Contreras * Gisela Espinosa * Brayan Duque * Santiago Urrego -
            <strong>Contacto:</strong> 601 606 60 60 <strong>Correo:</strong> support@jangle.com
        </p>

    </footer>

    <p>Test cambio</p>
    <p>fsfafafsdfsdf</p>
</body>
</html>